
<!DOCTYPE html>
<html>
<head>
  {% block content %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="container">
  <div class="row mt-9">
    <div class="col-md-5 col-sm-6">
        <a href="\social"  class="btn btn-dark">Back To Feed</a>
    </div>
  </div>

  <h4 style="text-align:center">This is our django stack.!</h4>
  <p style="text-align:center">
    Djanjo is a high-level Python web framework called Django facilitates quickly creating safe and dependable websites. 
    <br>
    Since it is a full-stack framework, all essential functionalities are provided by default rather than as separate modules. 
    <br>
    Django, created by professional programmers, handles many of the difficulties associated with web programming, 
    <br>
    allowing you to concentrate on developing your app without having to recreate the wheel.
  </p><br>
  <h4 style="text-align:center">Team Members:</h4>
  <p style="text-align:center">
    Hello folks, I am Rohit Raut. I am a graduate student at CSU Chico. My major is Computer Science. <br>
    I will be graduating in the month of May 2023. Thank You.<br>
    <div>
      <center><img src="{%static 'img/rohit.jpg'%}" style="height:400px;width:400px;" class="img-fluid " /></center>
  </div>
  <br>
  </p>
  <br>
  <br>
  <p style="text-align:center">
-----------------------------------------------------------------------------------------------------------------------------<br>
    Hello , I am Manavi Ghorpade. I am a graduate student at CSU Chico. I am majoring in Computer Science. <br>
    I will be graduating in the month of May 2023. <br>
    <div>
      <center><img src="{%static 'img/manavi.jpg'%}" style="height:400px;width:400px;" class="img-fluid" /></center>
  </div>
  <br>
  </p>
  <br>
  <br>
  <p style="text-align:center">
-----------------------------------------------------------------------------------------------------------------------------<br>
    Hey, I am Manohar Mendan. I am a student at CSU Chico. My major is Computer Science. <br>
    I am planning to graduate in the month of May 2023. <br>
    <div >
      <center><img src="{%static 'img/manohar.jpg'%}" style="height:400px;width:400px;" class="img-fluid " /></center>
  </div>
  <br>
  </p>
</div>
</body>
</html>
{% endblock content %}