{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <h1>{% trans "Sign In" %}</h1>
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">Sign Up</a> first.{% endblocktrans %}</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      <div class="d-grid gap-2">
        <button class="mt-3 btn btn-dark primaryAction" type="submit">{% trans "Sign In" %}</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
